@page "/"
@attribute [Authorize(Roles = "Admin")]
@using Models

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    APIClient.DataLogApiClient _apiClient;

    DataLogModel _dataLog = new DataLogModel();

    protected async override void OnInitialized()
    {
        Guid s = Guid.TryParse("3FA85F64-5717-4562-B3FC-2C963F66AFA6", out Guid value) ? value : Guid.Empty;
        _dataLog = await _apiClient.Get(s);
        base.OnInitialized();
    }
}