<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GiamSat.Scada.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <GiamSat.Scada.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>qFgsKRXrOBXrpXLXV/PyMGuUw2HscP3Q/TloIHzSy61oxi8xaZPrO9puwtsmkH2XUU8nhsJpCGd9Sn2ofJJViGStu1FZ1/AlQmYIkOezl+NefzEKADtw2aDUa+TXjALMnC3JUsQ3SGM=</value>
            </setting>
            <setting name="LogInterval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DisplayRealtimeInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </GiamSat.Scada.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
