<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GiamSat.Scada.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GiamSat.Scada.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>6uYjIe3oXDqJRKsw6NeEsI/BY/T4qF8gAZK3T/xLTyYjoF2fq/Jo9eq08TK3YvN8W5mDmmbB0mWs1RTcDH9gjTKcjMeCJfpNXn8xCgA7cNmg1Gvk14wCzJwtyVLEN0hj</value>
            </setting>
            <setting name="LogInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DisplayRealtimeInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </GiamSat.Scada.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
