@page "/alarmsettings"
@attribute [Authorize]

@if (_alarmSettings == null)
{
    @*<MudText>Loading....</MudText>*@
    <div class="spinner center-div"></div>
}
else
{
    <MudPaper Class="ma-2 mt-5 p-3" Elevation="3">
        <MudChip Style="@($"color:{_theme.Palette.White}; background:{_theme.Palette.DarkDarken};")" Class="d-flex">Cài email nhận cảnh báo</MudChip>
        <MudDivider></MudDivider>
        <EditForm Model="_alarmSettings" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator />

            <MudGrid Spacing="2" Class="p-1">
                <MudItem xs="12">
                    @* <MudTooltip Text="Ví dụ: email1@gmail.com,email2@gmail.com,..." Arrow="true" Placement="MudBlazor.Placement.Bottom" Color="MudBlazor.Color.Tertiary"> *@
                    <MudTextField FullWidth=true Label="Email nhận cảnh báo"
                                  @bind-Value="@_alarmSettings.EmailsString" For="@(()=>_alarmSettings.EmailsString)"></MudTextField>
                    @* </MudTooltip> *@
                </MudItem>
                <MudItem xs="12">
                    <MudButton FullWidth=true Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" ButtonType="MudBlazor.ButtonType.Submit"
                               Style="background-color: yellowgreen; color: white;">
                        Cập nhật
                    </MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
}
