@page "/login"
@layout LoginLayout

<EditForm Model="@_model" OnValidSubmit="HandleLogin">
    <MudGrid Spacing="2" Class="mt-5">
        <MudItem xs="12" Class="bg-success">
            @*<div class="d-flex justify-center">
                    <img src="/images/framasIcon-dark.png" />
                </div>*@
            <MudText Typo="Typo.h5" Class="d-flex justify-center">Login</MudText>
        </MudItem>

        <DataAnnotationsValidator />

        <MudItem xs="12">
            <MudTextField T="string" Label="User name"
                          @bind-Value="_model.Username"
                          Variant="Variant.Outlined"
                          For="()=>_model.Username" />
        </MudItem>

        <MudItem xs="12">
            <MudTextField @bind-Value="_model.Password"
                          Label="Password"
                          Variant="Variant.Outlined"
                          InputType="InputType.Password"
                          Adornment="Adornment.End" />
        </MudItem>

        <MudDivider Class="w-100 mt-2 mb-2" />

        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       FullWidth="true"
                       Size="Size.Large"
                       Style="width: 100%;">
                Submit
            </MudButton>
        </MudItem>
    </MudGrid>
</EditForm>
